@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* general variables */
  --boxShadow: 0 0 5px rgb(250, 234, 230);
  --boxShadow2: 0px 0px 50px 20px rgba(150, 150, 150, 0.3);
  --transition: all 0.3s linear;
  --transition2: all 0.5s linear;
  --border: 2px solid rgb(228, 7, 166);
  --border2: 2px solid rgb(28, 28, 192);
  --border3: 2px solid rgb(9, 224, 88);

  /* variables for this project */
  --White: hsl(0, 0%, 100%);
  --Dark-Blue: hsl(240, 38%, 20%);
  --Grayish-Blue: hsl(240, 18%, 77%);
}

body {
  display: grid;
  font-family: "Overpass", "Open Sans", Arial, Helvetica, sans-serif;
  place-items: center;
  background: url(../images/pattern-curve.svg) no-repeat;
  background-position: bottom;
  background-size: contain;
}

p {
  color: var(--Grayish-Blue);
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 0.02rem;
  margin: 0.25rem 0;
}

h2 {
  color: var(--Dark-Blue);
}

.main {
  width: 400px;
  transition: var(--transition);
}

.sections {
  margin: 1rem 0 2rem 0;
  text-align: center;
}

.profile-pic {
  background: url(../images/pattern-bg.svg) no-repeat;
  background-position: top;
  background-size: contain;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.profile-pic > img {
  width: 100%;
  border-radius: 0.5rem;
  height: 25rem;
  object-fit: cover;
  transition: var(--transition);
}

.btn-ctn {
  background-color: var(--White);
  border-radius: 2rem;
  box-shadow: var(--boxShadow2);
  display: flex;
  gap: 2rem;
  justify-content: center;
  padding: 0.75rem;
  position: relative;
  top: -1.5rem;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0.25rem;
}

.btn:hover {
  outline: 1px solid grey;
}

.btn.clicked {
  transform: translateX(0.05rem);
}

.btn:focus {
  border: none;
  outline: none;
}

.article {
  background: url(../images/pattern-quotes.svg) no-repeat;
  background-position: top center;
  background-size: 7rem;
  padding: 2rem 1rem;
}

.person-info {
  margin: 2rem 0;
}

@media (min-width: 50rem) {
  .main {
    width: auto;
    max-width: 80rem;
    transition: var(--transition);
  }

  .sections {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 1rem;
    padding: 5rem;
    margin-bottom: 10rem;
  }

  .profile-pic {
    width: 300%;
    padding-bottom: 0;
  }

  .btn-ctn {
    left: -5rem;
  }

  .article {
    background-position: left 5rem top -2rem;
    background-size: 7rem;
    line-height: 1.5;
    margin-right: -6rem;
    padding-left: 2rem;
    text-align: left;
  }

  .article > p {
    color: var(--Dark-Blue);
    font-size: 1.5rem;
  }

  .person-info {
    align-items: center;
    display: flex;
    gap: 1rem;
  }
}

@media (min-width: 60rem) {
  .profile-pic > img {
    width: 30rem;
    height: 30rem;
    transition: var(--transition);
  }
}

/* footer styles */
.my-profile {
  background: #34023def;
  color: white;
  font-size: 14px;
  padding: 10px;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.my-profile > a {
  cursor: pointer;
  color: hsl(51, 79%, 45%);
  text-decoration: none;
}

.my-profile-icons a {
  cursor: pointer;
  color: var(--White);
  display: inline-block;
  margin: 0 5px;
}

@media screen and (max-width: 500px) {
  .my-profile {
    font-size: 12px;
  }

  .my-profile-icons a:first-of-type,
  .my-profile-icons a:last-of-type {
    display: none;
  }
}
